<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indique à Azure que cette app utilise Node.js -->
      <add name="iisnode" path="server.js" verb="" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirige toutes les requêtes vers le fichier server.js -->
        <rule name="DynamicContent">
          <match url="." />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Autorise les fichiers volumineux (optionnel) -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>